* {
  padding: 0;

  margin: 0;

  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*General*/
html {
  height: 100%;
} 

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.centered {
  width: 56rem;

  margin: 0 auto;
}


/*Header*/

#header {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image:url(./resources/images/bg_medium.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

h1 {
  margin-bottom: 5rem;

  font-size: 10rem;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}


/*Navbar*/

#navbar {
  width: 100%;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #1f1913;
}

#navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navbar a {
  color: #fff;

  padding: 0.5%;

  font-size: 1.5rem;

  text-decoration: none;
  text-transform: lowercase;
}

#navbar a:hover {
  color: #000;
  background-color:#fff;

  transition: 0.3s;
}

#active_site {
  background-color: #3E5936;
}


/*Main*/

#main {
  min-height: 85vh;
}

#main p {
  font-size: 1.5rem;

  text-align: justify;
}

.article {
  margin: 1.5rem 0;

  padding: 1rem 2rem 2rem 2rem;

  border: 0 solid white;
  border-radius: 0.2rem;

  background-color: #ebe4de;
}

h3 {
  font-size: 2rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}


/*Footer*/

#footer {
  width: 100%;

  margin-top: auto;

  padding: 0.5rem 0;

  color: #fff;
  background-color: #1f1913;

  font-size: 1.5rem;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h6 {
  font-size: 1rem;
  font-weight: bolder;
}

#footer li {
  font-size: 1rem;

  list-style-type: none;
}

#imprint {
  text-align: right;
}


/*Media Queries*/

@media only screen and (max-width: 1200px) {

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

}