* {
  padding: 0;

  margin: 0;

  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*General*/
html {
  height: 100%;
} 

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.centered {
  width: 56rem;

  margin: 0 auto;
}


/*Header*/

#header_home {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(./resources/images/background/bg_forest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

#header_home h1 {
  margin-bottom: 5rem;

  font-size: 10rem;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

#header_home h2 {
  font-size: 5rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}

#header {
  background-image: url(./resources/images/background/bg_forest.jpg);
  background-position: center center;

  color: #fff;
}

#header h1 {
  font-size: 4rem;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}


/*Navbar*/

#navbar {
  width: 100%;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #1f1913;
}

#navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navbar a {
  padding: 0.5rem;

  color: #fff;

  font-size: 1.5rem;

  text-decoration: none;
  text-transform: lowercase;
}

#navbar a:hover {
  color: #000;
  background-color:#fff;

  transition: 0.3s;
}

#active_site {
  background-color: #3E5936;
}


/*Main*/

#main {
  min-height: 91.6vh;
}

.article {
  margin: 1.5rem 0;
  padding: 1rem 2rem 2rem 2rem;
  border: 0 solid white;
  border-radius: 0.2rem;

  background-color: #ebe4de;
}

h3 {
  margin-bottom: 0.5rem;

  font-size: 2rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}

.section_text {
  font-size: 1.5rem;

  text-align: justify;
}

.article li {
  font-size: 1.5rem;

  text-align: center;

  list-style-type: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile {
  max-width: 22rem;
  min-height: 34rem;

  display: flex;
  flex-direction: column;

  margin: 0 auto 1rem auto;
  padding: 1rem;
  border: 0 solid #ebe4de;
  border-radius: 0.2rem;

  background-color: #C4C9D4;
}

.profile img {
  margin: 0 auto;
  border: 0 solid #000;
  border-radius: 0.2rem;
   
  max-width: 22rem;
}

.name {
  margin: 0.75rem 0;

  font-size: 2rem;
  font-weight: bold;

  text-align: center;
}

.description {
  font-size: 1.5rem;

  text-align: justify;
}

#disclaimer {
  font-weight: bold;

  color: crimson;
}


/*Footer*/

#footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #1f1913;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer a {
  margin: 0 1rem;
  padding: 0.5rem;

  font-size: 1rem;

  color: #fff;

  text-decoration: none;
  text-transform: lowercase;
}

#footer a:hover {
  color: #000;
  background-color:#fff;

  transition: 0.3s;
}


/*Media Queries*/

@media only screen and (max-width: 1250px) {

  #header_home h1 {
    font-size: 6rem;
  }
  
  #header_home h2 {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 950px) {

  .centered {
    width: 34rem;
  }

}

@media only screen and (max-width: 750px) {

  #header_home h1 {
    margin-bottom: 2rem;

    font-size: 4rem;
  }
  
  #header_home h2 {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 600px) {

  .centered {
    width: 22rem;
  }

  #navbar a {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  
  .section_text {
    font-size: 1rem;
  }

  .article li {
    font-size: 1rem;
  }

  .profile {
    max-width: 18rem;
    min-height: 25rem;
  }
  
  .profile img {
    max-width: 18rem;
  }
  
  .name {
    margin: 0.5rem 0;
  
    font-size: 1.5rem;
  }
  
  .description {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 500px) {

  #header h1 {
    font-size: 2rem;
  }  
  
}

@media only screen and (max-width: 400px) {

  .centered {
    width: 18rem;
  }

  .profile {
    max-width: 14rem;
    min-height: 20rem;
  }
  
  .profile img {
    max-width: 14rem;
  }
  
}

@media only screen and (max-width: 350px) {

  #header_home h1 {
    margin-bottom: 1rem;

    font-size: 2rem;
  }
  
  #header_home h2 {
    font-size: 1rem;
  }

  .article {
    margin: 1rem 0;
  
    padding: 0.75rem 1rem 1rem 1rem;
  }

}

@media only screen and (max-width: 300px) {

  .centered {
    width: 14rem;
  }

  #navbar a {
    font-size: 0.75rem;
  }

  h3 {
    margin-bottom: 0.25rem;
    
    font-size: 1rem;
  }
  
  .section_text {
    font-size: 0.75rem;
  }

  .article li {
    font-size: 0.75rem;
  }

  .profile {
    max-width: 12rem;
    min-height: 14rem;
  }
  
  .profile img {
    max-width: 10rem;
  }

  .name {
    font-size: 1rem;
  }

  .description {
    font-size: 0.75rem;
  }

  #footer a {
    font-size: 0.75rem;
  }

}