* {
  padding: 0;

  margin: 0;

  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*General*/
html {
  height: 100%;
} 

body {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.centered {
  width: 60%;

  margin: 0 auto;
}


/*Header*/

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-image:url(./resources/images/bg_medium.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #EFEFEF;
}

h1 {
  margin: 4rem auto;

  font-size: 10rem;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}


/*Navbar*/

#navbar {
  position: sticky;
  top: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #1f1913;
}

#navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 0.5%;
}

#navbar a {
  color: #EFEFEF;

  font-size: 1.5rem;

  text-decoration: none;
  text-transform: lowercase;
}

#navbar a:hover {
  color: #000;
  background-color:#fff;
  transition: 0.3s;
}


/*Content*/

#main p {
  text-align: justify;
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  font-weight: bold;

  text-align: center;
  text-transform: lowercase;
}

#profiles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile li {
  list-style: outside;
}

.p_picture {
  width: 100%;
  border: 0.25rem solid white;
  border-radius: 0.5rem;
}

.p_name {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.p_description {
  text-align: justify;
}


/*Footer*/

#footer {
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  width: 100%;
  font-size: 1.5rem;
  color: #EFEFEF;
  background-color: #1f1913;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h6 {
  font-size: 1rem;
  font-weight: bolder;
}

#footer li {
  list-style-type: none;
  font-size: 1rem;
}

#imprint {
  text-align: right;
}


/*Media Queries*/

@media only screen and (max-width: 1440px) {

  .centered {
    width: 60%;
  }
}